.main{
    border: 3px solid black;
    height: 630px;
    width: 900px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.gallery{
    position: absolute;
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 10px;

    color: #000000;
}
.img1{
    position: absolute;
    padding-left: 40px;
    padding-top: 80px;
}
.img2{
    position: absolute;
    padding-left: 40px;
    padding-top: 400px;
}
.img3{
    position: absolute;
    padding-left: 470px;
    padding-top: 400px;
}
.img4{
    position: absolute;
    padding-left: 470px;
    padding-top: 80px;
}
.img5{
    position: absolute;
    padding-left: 675px;
    padding-top: 80px;
}
.img6{
    position: absolute;
    padding-left: 470px;
    padding-top: 240px;
}
.img7{
    position: absolute;
    padding-left: 675px;
    padding-top: 240px;
}
